<% for column in Loadmap.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @loadmap.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @loadmap %> |
<%= link_to 'Back', :action => 'list' %>
