Hey there,

Your wiki is accessible at:

http://<%= @domain%>/

To get started - click the "Edit" hyperlink on your wiki - and then start
typing. Select some text and press the "Link" button to create a link to
a new page. Then press the "Save" hyperlink to save changes to your wiki.

I hope you enjoy your wiki - reply to this email if you want to ask me
questions about your wiki.

Have fun with it. :)

From Ben at Groupswiki.com