<div id="page">
  <h1>Welcome to your brand new wiki!</h1>
  
  <p>
    We've send you an email containing your password and sign up
    details. If you want to share this wiki with anyone - your
    wikis public password is:
  </p>
  
  <p style="font-size: 1.5em; margin-left: 1em">
  </p>
  
  <p>
    &gt; <%= link_to 'Start writing your thoughts!', @wiki.index_page %>
  </p>
</div>