<h3>
  Wiki Navigation:
</h3>

<p>
  &raquo; <%= link_to 'Home page', '/' %><br />
  &raquo; <%= link_to 'All pages', pages_url %><br />
  &raquo; <%= link_to 'Recent changes', revisions_url %>
  </p>
</p>