<table class="spreader">
  <tr>
    <td class="left">
      <a href="http://www.bennolan.com/">Bennolan.com</a>
      <span class="focus">Groupswiki.com</span>
    </td>
    <td class="right">
      A <a href="http://mosoz.de/">Moso Interactive</a> property.
    </td>
  </tr>
</table>
