<div id="page">
  <div id="page-content">
  <h1>
    Not allowed
  </h1>

  <p>
    Sorry - but the owner of this Wiki hasn't given you permission to view it.
  </p>

  <p>
    You should contact the owner of the wiki to see if they will give you
    access.
  </p>

  </div>
</div>

<%= render_generic_sidebar %>