<div class='col2'>
  <h1>
    User "<%= h @user.name %>"
  </h1>
  
  <p>
    Email address:<br />
    <%= link_to h(@user.email), 'mailto:' + @user.email %>
  </p>

  <h2>
    <%= h @user.name %> has recently edited:
  </h2>

  <% @pages.each do |page| %>
    <p>
      &middot; <%= link_to page.name, page %>
    </p>
  <% end %>
</div>

<div class="col1">
  <%= render :partial => 'shared/sidebar' %>
</div>